
.overlay-cart {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.overlay-cart__container{
	position: absolute;
	width: 70%;
	height: 90%;
	top: 50%;
    left: 50%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px pink;
	transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.overlay-cart__delete {
	color: deeppink;
	padding: 10px 0 0 10px;
	cursor: pointer;
}

.overlay-cart__header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overlay-cart__heading{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}

.overlay-cart__action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.overlay-cart__cart-items{
	max-height: 50%;
	overflow-y: auto;
}

.overlay-cart__cart-item{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overlay-cart__image-box{
	width: 15%;
	text-align: center;
}
.overlay-cart__about{
	height: 100%;
	width: 24%;
}
.overlay-cart__title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}
.overlay-cart__subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.overlay-cart__counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.overlay-cart__btn-plus {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.overlay-cart__btn-minus {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.overlay-cart__count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}

.overlay-cart__prices{
	height: 100%;
	text-align: right;
}
.overlay-cart__amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #202020;
}

.overlay-cart__remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.overlay-cart__pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.overlay-cart__checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.overlay-cart__total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.overlay-cart__subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #202020;
}
.overlay-cart__items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.overlay-cart__total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.overlay-cart__button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: deeppink;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #202020;
}